@using System.Web.Razor
@{
    int cursistId = CVOApp.Models.LoginClass.LoginSession;
    if (cursistId == 0)
    {
        Response.Redirect("index.cshtml");
    }
    List<CVOApp.Models.Evenement> lijst = CVOApp.Services.SelectEvents();

    if (IsPost)
    {
        
        //string cursusId = Request["registreer"];
        //CVOApp.Services.ReserveerPlaats(cursistId, Convert.ToInt32(Request["inschrijven"]), DateTime.Now);
        CVOApp.Services.EvenementInschrijving(cursistId, DateTime.Now, Request["inschrijven"]);
    }
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="Menu.css" />
    <title>Evenementen</title>
    <style>
        .back {
            background-color: #0076C8;
            width: 80%;
            margin: 0 auto;
            padding-top: 15px;
            padding-bottom: 15px;
            padding: 20px;
            border-radius: 15px;
            color: white;
        }
        .left {
            border-radius: 20px 0 0 20px;
            border-style: none;
            padding: 5px;
            background-color: white;
            color: #0076C8;
            text-align: center;
            margin-bottom: 15px;
        }
        .middle {
            border-style: none;
            padding: 5px;
            padding-left: 10px;
            background-color: white;
            color: #0076C8;
            margin-bottom: 5px;
            text-align: center;
        }
        .right {
            border-radius: 0 20px 20px 0;
            border-style: none;
            padding: 5px;
            background-color: white;
            color: #0076C8;
            text-align: center;
            margin-bottom: 5px;
        }
        th {
            padding-bottom: 10px;
            font-size: larger;
        }
        td {
            font-size: medium;
        }
        .tabel {
            border-spacing: 0 5px;
            width: 100%;
        }
        .selected td {
            background-color: #2faaff;
            color: white;
        }
        .row:hover td {
            background-color: #d9efff;
            color: #0076C8;
            cursor: pointer;
        }
        
    </style>
</head>
<body>
    <div id="Menu" style="width: 100%;">
        <a href="home.cshtml"><img src="img/logocvoantwerpenLink.png" style="float:left; width: 20.5%;" /></a>
        <img src="img/logocvoantwerpen.png" style="float: left; width: 59%;" />
        <label onclick class="lbl" for="toggle"><img src="img/MenuIcon.png" style="width: 20.5%;" /></label>
        <input name="" class="toggle" value="" id="toggle" type="checkbox" />
        <ul class="test">
            <li class="menu"><a href="home.cshtml">Home</a></li>
            <li class="menu"><a href="resultaten.cshtml">Resultaten</a></li>
            <li class="menu"><a href="OpleidingSelect.cshtml">Modules</a></li>
            <li class="menu"><a href="~/LessenRooster.cshtml">Lessen Rooster</a></li>
            <li class="menuEnd"><a class="current" href="Evenementen.cshtml">Evenementen</a></li>
        </ul>
    </div>
    <br /><br />
    <div class="back">
        <form action="" method="post">
            <table id="tbl" class="tabel">
                <tr>
                    <th width="30%">Naam</th>
                    <th width="30%">Locatie</th>
                    <th width="20%">Datum</th>
                    <th width="10%">Startuur</th>
                    <th width="10%">Einduur</th>
                </tr>
                @{
                    foreach (var e in lijst)
                    {

                        {
                            <tr id="@e.Id" onclick="select(this.id);" class="row">
                                <td id="@e.Naam" class="left">@e.Naam</td>
                                <td class="middle">@e.Locatie</td>
                                <td class="middle">@e.Datum.ToShortDateString()</td>

                                @if (e.StartUur != e.EindUur)
                                {
                                    <td class="middle">@e.StartUur.ToLongTimeString()</td>
                                    <td class="right">@e.EindUur.ToLongTimeString()</td>
                                }
                                else
                                {
                                    <td class="middle" style="text-align:right; padding-right:1px;">Hele</td>
                                    <td class="right" style="text-align:left; padding-left:1px;">dag.</td>
                                }
                                <td style="display:none;"><button style="display:none;" value="@e.Id" type="submit" name="inschrijven" id="@e.Id ins"></button></td>
                            </tr>
                        }

                    }
                }
            </table>
        </form>
    </div>
    <script>
        function select(id) {
            var rij = document.getElementById(id);

            for (var i = 0; i < document.getElementById('tbl').rows.length; i++) {
                document.getElementById('tbl').rows[i].className = "row";
            }
            
            rij.className += " selected";
            
            var opm = prompt("heeft u nog opmerkingen bij uw inschrijving?");
            if (opm != null) {
                document.getElementById(id + " ins").value = id.toString() + ";" + opm;
                document.getElementById(id + " ins").click();
            }
            //document.getElementById(id + " ins").value = id.toString() + ";" + opm;
            //document.getElementById(id + " ins").click();
        }
    </script>

</body>
</html>
