@using System.Web.Razor
@{
    int cursistId = CVOApp.Models.LoginClass.LoginSession;
    if (cursistId == 0)
    {
        Response.Redirect("index.cshtml");
    }
    List<CVOApp.Models.Lesrooster> lijst = CVOApp.Services.SelectLessenByCursist(cursistId);
}

<!DOCTYPE html>

<html>
<head>
    <title>Lessen rooster</title>

    <link rel="stylesheet" type="text/css" href="Menu.css" />

    <style>
        .back {
            background-color: #0076C8;
            width: 60%;
            margin: 0 auto;
            padding-top: 15px;
            padding-bottom: 15px;
            padding: 20px;
            border-radius: 15px;
            color: white;
        }

        .left {
            border-radius: 20px 0 0 20px;
            border-style: none;
            padding: 5px;
            background-color: white;
            color: #0076C8;
            text-align: center;
            margin-bottom: 15px;
        }

        .middle {
            border-style: none;
            padding: 5px;
            padding-left: 10px;
            background-color: white;
            color: #0076C8;
            margin-bottom: 5px;
        }

        .right {
            border-radius: 0 20px 20px 0;
            border-style: none;
            padding: 5px;
            background-color: white;
            color: #0076C8;
            text-align: center;
            margin-bottom: 5px;
        }

        th {
            padding-bottom: 10px;
            font-size: larger;
        }

        td {
            font-size: medium;
        }

        .tabel {
            border-spacing: 0 5px;
            width: 100%;
        }
    </style>

</head>
<body>

    <div id="Menu" style="width: 100%;">
        <a href="home.cshtml"><img src="img/logocvoantwerpenLink.png" style="float:left; width: 20.5%;" /></a>
        <img src="img/logocvoantwerpen.png" style="float: left; width: 59%;" />
        <label class="lbl" for="toggle"><img src="img/MenuIcon.png" style="width: 20.5%;" /></label>
        <input name="" class="toggle" value="" id="toggle" type="checkbox" />
        <ul class="test">
            <li class="menu"><a href="home.cshtml">Home</a></li>
            <li class="menu"><a href="resultaten.cshtml">Resultaten</a></li>
            <li class="menu"><a href="OpleidingSelect.cshtml">Modules</a></li>
            <li class="menu"><a class="current" href="~/LessenRooster.cshtml" >Lessen Rooster</a></li>
            <li class="menuEnd"><a href="Evenementen.cshtml">Evenementen</a></li>
        </ul>
    </div>

    <div>
        <table class="tabel">
        <tr>
            <th width="15%">Datum</th>
            <th width="15%">Docent</th>
            <th width="15%">Campus</th>
            <th width="5%">Lokaal</th>
            <th width="5%">Start</th>
            <th width="5%">Eind</th>
            <th width="10%">Cursus</th>
            <th width="30%">Modulenaam</th>
        </tr>
        @{
            foreach (var l in lijst)
            {

                {
                    <tr class="row">
                        <td class="left">
                            @l.Datum
                        </td>
                        <td class="middle">
                            @l.Docent
                        </td>
                        <td class="middle">
                            @l.Campus
                        </td>
                        <td class="middle">
                            @l.Lokaal
                        </td>
                        <td class="middle">
                            @l.Van
                        </td>
                        <td class="middle">
                            @l.Tot
                        </td>
                        <td class="middle">
                            @l.CursusNummer
                        </td>
                        <td class="right">
                            @l.Module
                        </td>
                    </tr>
                }

            }

        }

        </table>
    </div>
</body>
</html>
