@using System.Web.Razor
@{
    int cursistId = CVOApp.Models.LoginClass.LoginSession;
    if (cursistId == 0)
    {
        Response.Redirect("index.cshtml");
    }
    List<CVOApp.Models.Resultaat> lijst = CVOApp.Services.ResultatenByCursistId(cursistId);
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="Menu.css" />
    <link href="Tabel.css" type="text/css" rel="stylesheet" />
    <title>Resultaten</title>
</head>
<body>
    <div id="Menu" style="width: 100%;">
        <a href="home.cshtml"><img src="img/logocvoantwerpenLink.png" style="float:left; width: 20.5%;" /></a>
        <img src="img/logocvoantwerpen.png" style="float: left; width: 59%;" />
        <label class="lbl" for="toggle"><img src="img/MenuIcon.png" style="width: 20.5%;" /></label>
        <input name="" class="toggle" value="" id="toggle" type="checkbox" />
        <ul class="test">
            <li class="menu"><a href="home.cshtml">Home</a></li>
            <li class="menu"><a class="current" href="resultaten.cshtml">Resultaten</a></li>
            <li class="menu"><a href="OpleidingSelect.cshtml">Modules</a></li>
            <li class="menu"><a class="current" href="~/LessenRooster.cshtml">Lessen Rooster</a></li>
            <li class="menuEnd"><a href="Evenementen.cshtml">Evenementen</a></li>
        </ul>
    </div>
    <br /><br />
    <div class="back">
        <table class="tabel">
            <tr>
                <th>cursusnummer</th>
                <th>modulenaam</th>
                <th>punten</th>
            </tr>
            @{
                foreach (var r in lijst)
                {
                    if (r.Geslaagd)
                    {
                        <tr class="row">
                            <td class="left">@r.CursusNummer</td>
                            <td class="middle">@r.ModuleNaam</td>
                            <td class="right">@r.Totaal &#47; 100</td>
                        </tr>
                    }
                    else
                    {
                        <tr class="row">
                            <td class="left" style="color: red;">@r.CursusNummer</td>
                            <td class="middle" style="color: red;">@r.ModuleNaam</td>
                            <td class="right" style="color: red;">@r.Totaal &#47; 100</td>
                        </tr>
                    }
                }
            }
        </table>
    </div>
</body>
</html>
